:root {
    --primary-site-color: #F5F5F5;
    --main-text-color: #212121;
    --primary-site-color: #FFFFFF;
    --second-color: #2196F3;
    --second-text-color: #757575;
    --background-color-site: #2F303A;
    --contacts-color: rgba(255, 255, 255, 0.6);
}

body {
    background-color: var (var(--primary-site-color));
    color: var(--main-text-color);
    font-family: "Roboto";
    letter-spacing: 0.02em; 
    font-size: 14px;  
}

/* Меню навігації */

nav .site-nav{
    font-weight: 500;
    line-height: 1.14;
    background-color: var(--primary-site-color);
}

nav .auth-nav {
    font-weight: 500;
    line-height: 1.14;
    background-color: var(--primary-site-color); 
}

/* Навігація */
.site-nav .link {
    color: var(--main-text-color);
}

.site-nav .link:hover, 
.site-nav .link:focus, 
.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--second-color);
}

.auth-nav .link {
    color: var(--background-color-site);
}

/* Герой */

.hero {
    background-color: var(--background-color-site);
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-site-color);
}

.hero-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    background-color: var(--second-color);
    color:var(--primary-site-color);

}

/* Особливості */

.feature-list h3 {
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.feature-list p {
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}

/* Чим ми займаємося */

/* Наша команда */

.sections-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.7;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-list h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    /* text-align: center; */
    letter-spacing: 0.03em;
}
.team-list p {
    font-size: 16px;
    line-height: 1.19px;
    /* text-align: center; */
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}

/* Підвал */

.footer {
    background-color: var(--background-color-site);
}

.adress .link {
    color: var(--primary-site-color);
}

.adress .mail,
.adress .tel {
    color: var(--contacts-color);
}

/* Кнопки */

.buttons .button-project {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    cursor: pointer;
}

.buttons .button-project:hover {
    background-color: var(--second-color);
}

/* Проєкти */

.projects h1{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.projects p {
    line-height: 1.7;
    color: var(--second-text-color);
}